body {
    background: #f3f3f3;
    font-family: "Comic Sans MS",sans-serif

}
#wrapper {
    max-width: 1000px;
    margin:0 auto;
    background-color: #fff;
    padding: 32px;
}

header {
    background-color: #b3daff;
    height: 150px;
    padding: 4px;
}

header h1{
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    line-height: 50px;
}

header h2{
    font-variant:small-caps;
    text-align:center;
    color: #fff;
}

.main_menu{
    padding: 6px 0 6px 0;
    text-align: center;
    line-height: 32px;
    background-color: #818181;
}

ul.main_menu{
    margin-top: 15px;
}

.main_menu li{
    display: inline;
    padding: 0 10px 0 10px;
    font-size: 16px;
}

.main_menu a{
    text-decoration: none;
    color: #fff;
    padding: 8px;
    font-variant: small-caps;
}

.main_menu a:hover{
    color: #59d5d8
}

#tekst{
    text-align: center;
}

a{
    text-decoration: none;
}